parameters:
	ignoreErrors:
		- '#cebe\\openapi\\spec\\Reference#'
		- '#Call to function in_array\(\) requires parameter \#3 to be true.#'
		- '#with a nullable type declaration.#'
includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon
